<nav>
    <div id="navHeader">
        <div id="brandLogo"><img src="images/logo.svg"></div>
        <div id="brandName"><a href="#">G.R.A.S.S</a></div>
    </div>
    <div id="navLinks" class="show">
        <ul>
            <li><a href="#">EXPLORE</a></li>
            <li><a href="/qr-scanner">QR SCANNER</a></li>
            <li><a href="#">ABOUT</a></li>
            <li id="logInBtn"><a href="#" >LOG IN</a></li>
        </ul>
    </div>
    
    <div id="navButton" class="hide">
        <img src="images/navButton-white.svg">
    </div>
</nav>