<nav>
    <div id="navHeader">
        <div id="brandLogo"><img src="images/logo-circle-min.png"></div>
        <div id="brandName"><a href="#">G.R.A.S.S</a></div>
    </div>
    <div id="navLinks" class="show">
        <ul>
            <li><a href="/shop">EXPLORE</a></li>
            <li><a href="/qr-scanner">QR SCANNER</a></li>
            <li><a href="#">ABOUT</a></li>
            <% if(!currentUser){ %>
            <li id="logInBtn"><a href="/appid/login" >LOG IN</a></li>
            <% } else { %>
            <li id="profileLink"><a href="/profile" >Profile</a></li>
            <li><a href="/appid/logout" >Logout</a></li>
            <% } %>
        </ul>
    </div>
    
    <div id="navButton" class="hide">
        <img src="images/navButton-white.svg">
    </div>
</nav>