<%- include("partials/header") %>
<link rel="stylesheet" href="stylesheets/shop.css">
</head>
<body>
    <%- include("partials/nav") %>

    <div class="container">
        <h1 class="pageHeading">Shop</h1>
        
        <form class="searchForm" action="">
            <select name="" id="">
                <option value="All">All</option>
                <option value="All">Fashion</option>
                <option value="All">Furniture</option>
                <option value="All">Health</option>
                <option value="All">Household</option>
                <option value="All">Personal hygiene</option>
                <option value="All">Toys</option>
            </select>
            <input type="search"/>
            <button><img src="images/search-icon.svg" alt="" srcset=""></button>
        </form>

        <div class="shopsDiv">
            
            <div class="shop">
                <div class="productImage">
                    <img src="images/product-image.jpg">
                </div>
                <div class="details">
                    <div class="productName">Product Name</div>
                    <div class="productPrice">₹750</div>
                </div>
            </div>

            <div class="shop">
                <div class="productImage">
                    <img src="images/product-image-2.jpg">
                </div>
                <div class="details">
                    <div class="productName">Product Name</div>
                    <div class="productPrice">₹750</div>
                </div>
            </div>

            <div class="shop">
                <div class="productImage">
                    <img src="images/product-image.jpg">
                </div>
                <div class="details">
                    <div class="productName">Product Name</div>
                    <div class="productPrice">₹750</div>
                </div>
            </div>

            <div class="shop">
                <div class="productImage">
                    <img src="images/product-image-2.jpg">
                </div>
                <div class="details">
                    <div class="productName">Product Name</div>
                    <div class="productPrice">₹750</div>
                </div>
            </div>

            <div class="shop">
                <!-- <div class="viewProduct">View Product</div> -->
                <div class="productImage">
                    <img src="images/product-image-3.jpg">
                </div>
                <div class="details">
                    <div class="productName">Product Name</div>
                    <div class="productPrice">₹750</div>
                </div>
            </div>

            <div class="shop">
                <!-- <div class="viewProduct">View Product</div> -->
                <div class="productImage">
                    <img src="images/product-image-3.jpg">
                </div>
                <div class="details">
                    <div class="productName">Product Name</div>
                    <div class="productPrice">₹750</div>
                </div>
            </div>
            
        </div>
    </div>
    
<%- include("partials/footer") %>
